.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(../images/header_whisky.jpg) center no-repeat;
  background-size: cover; }

.brand {
  display: flex;
  align-items: left;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); }

.company-logo {
  width: 80px;
  height: 80px;
  margin: 5%;
  text-align: left; }

.main-name {
  color: white;
  text-align: center;
  font-size: 80px; }

.sub-name {
  color: white;
  font-size: 65px; }

.catch-copy {
  text-align: center;
  left: 50%;
  right: 50%; }

.description-heading {
  color: white;
  text-align: center;
  font-size: 60px; }

.description-section {
  color: white; }

.description {
  color: white;
  margin: 2%;
  font-size: 35px; }

.fadein {
  opacity: 0.1;
  transform: translate(0, 50px);
  transition: all 1000ms; }

.fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0); }

.contact-form-section {
  color: white;
  text-align: center;
  font-size: 60px;
  margin: 2%; }

.contact-form {
  width: 100%; }

.container h1 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 50px; }

.nice-wrap {
  position: relative;
  width: 80%;
  height: 100px;
  margin: 0 auto; }

.nice-textLabel {
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 16px;
  color: #a0a0a0;
  transition: all 0.25s ease; }
  .nice-textLabel.focus {
    top: -25px;
    left: 5px;
    font-size: 14px;
    color: #fff; }

.nice-emailLabel {
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 16px;
  color: #a0a0a0;
  transition: all 0.25s ease; }
  .nice-emailLabel.focus {
    top: -25px;
    left: 5px;
    font-size: 14px;
    color: #fff; }

.nice-textareaLabel {
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 16px;
  color: #a0a0a0;
  transition: all 0.25s ease; }
  .nice-textareaLabel.focus {
    top: -25px;
    left: 5px;
    font-size: 14px;
    color: #fff; }

.nice-textbox {
  position: relative;
  display: block;
  width: 94%;
  margin-top: 50px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #a0a0a0;
  outline: none; }

.nice-emailbox {
  position: relative;
  display: block;
  width: 94%;
  margin-top: 50px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #a0a0a0;
  outline: none; }

.nice-textareabox {
  position: relative;
  display: block;
  width: 94%;
  margin-top: 50px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #a0a0a0;
  outline: none; }

textarea {
  height: calc(1.3em * 5);
  line-height: 1.3; }

.btn-simple {
  margin-top: 15%;
  border-color: #FFA500;
  color: #FFA500;
  width: 100%;
  padding: 2%;
  background-color: transparent;
  width: 100%;
  font-size: 40px; }

.btn-simple:hover {
  background: #FFA500;
  color: black; }

.btn-gradient-3d {
  display: inline-block;
  width: 94%;
  padding: 3.5%;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  color: black;
  text-shadow: 1px 1px 1px #FFA500;
  background-color: #FFA500;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #FFA500;
  text-align: center;
  font-size: 30px; }

.btn-gradient-3d:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none; }

.link-button {
  margin-top: 20%; }

footer {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.footer-copyright-paragraph {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: #bbb;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize; }

.footer-copyright {
  margin-top: 20%; }

/* Smartphone */
@media (max-width: 750px) {
  .description {
    color: white;
    margin: 2%;
    font-size: 25px; }
  .btn-simple {
    margin-top: 35%;
    border-color: #FFA500;
    color: #FFA500;
    width: 100%;
    padding: 2%;
    background-color: transparent;
    width: 100%;
    font-size: 40px; }
  .btn-simple:hover {
    background: #FFA500;
    color: black; }
  .btn-gradient-3d {
    margin-top: 20%;
    display: inline-block;
    width: 94%;
    padding: 3.5%;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    color: black;
    text-shadow: 1px 1px 1px #FFA500;
    background-color: #FFA500;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #FFA500;
    text-align: center;
    font-size: 30px; }
  .contact-form-heading {
    font-size: 50px; }
  .btn-gradient-3d:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none; }
  .footer-copyright {
    margin-top: 25%; } }
